.vscode/**
README.md
README.zh-cn.md
src/**
test/**
tools/**
design/**
out/**/*.map
out/**/*.d.ts
out/**/*.d.ts.map
tsconfig.json
.github/**
.gitignore
.nvmrc
.oxlintrc.json
.oxfmtrc.json
*.vsix
.vscode-test/
.dev/**
dist/**
package-lock.json
.DS_Store
.env*
!.env.example
vscode.proposed.languageModelThinkingPart.d.ts
